<div class="d-flex justify-content-center align-items-center">
  <!-- <mat-progress-bar mode="buffer" [color]="'warn'"></mat-progress-bar> -->
  <span class="mx-1" (click)="startRecognition()">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" [ngClass]="{'border-danger-subtle text-danger': listening, 'border-secondary-subtle text-secondary': !listening}" class=" bi  border rounded-circle p-3 bi-mic-fill  border-5" viewBox="0 0 16 16">
      <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
      <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
    </svg>
  </span>
  <mat-progress-bar *ngIf="false" mode="determinate" [color]="'warn'" value="40"></mat-progress-bar>
</div>

<!-- <p class=" text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">{{ transcription }}</p> -->
